html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0;
}

div, section, footer, svg {
	border: 0px solid lightsalmon;
}

.container {
	display: block;
    max-width: 900px;
    min-height: 100%;
    padding: 0;
    margin: 0 auto;
}

form {
    width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form svg {
	width: 200px;
	height: 200px;
	margin: 20px;
}

form input {
	width: 360px;
	font-size: 1.6em;
	padding: 10px;
}

form .email {
	font-size: 1.4em;
	margin-bottom: 20px;
}

#messaging {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: aliceblue;
}

#messaging .content {
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: antiquewhite;
}

#messaging footer {
    height: 100px;
    background-color: aqua;
}

#messaging footer textarea {
	max-width: 100%;
    resize: none;
}

#messaging .icon {
    width: 80px;
    height: 80px;
}

.message {
    display: flex;
	align-items: stretch;
    margin-bottom: 10px;
}

.message .icon {
    width: 5%;
    /*height: 80px;*/
    /*padding: 0px 10px;*/
}

.message .balloon {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    width: 50%;
    padding: 10px 15px;
    border-radius: 15px;
    background-color: gainsboro;
}

.message .email {
    font-size: 1.1em;
    font-weight: bold;
    max-width: 260px;
    word-wrap: break-word;
}

.message .text {
    /*max-width: 560px;*/
    /*background-color: ghostwhite;*/
    /*border: 1px solid #708cfd;*/
}

.message .text.self {
	/*color: #ffffff;
    background-color: #708cfd;*/
}
