html, body {
    height: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

h1 {
	font-size: 4em;
	font-weight: 300;
	line-height: 1;
	margin: 0;
	padding: 0;
}

div, section, footer, svg {
	border: 0px solid blue;
}

.container {
	display: block;
    max-width: 900px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}

form {
    width: 100%;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form svg {
	width: 200px;
	height: 200px;
	margin: 20px;
}

form input {
	width: 360px;
	font-size: 1.6em;
	padding: 10px;
}

form .email {
	font-size: 1.4em;
	margin-bottom: 20px;
}

#messaging {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#messaging .content {
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#messaging footer {
	height: 100px;
}

.message {
	display: flex;
	align-items: flex-end;
}

.message .icon {
    width: 80px;
    height: 80px;
}

.message .baloon {
    display: flex;
    flex-direction: column;
}

.message .email {
    font-size: 1.4em;
    width: 300px;
    word-wrap: break-word;
}

.message .text {
    max-width: 560px;
    border: 1px solid #708cfd;
    border-radius: 15px;
    padding: 10px;
}

.message .text.self {
	color: #ffffff;
    background-color: #708cfd;
}
